{% extends 'base.html.twig' %}

{% block title %}Hello {# controller_name #}!{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <h1>Hello {# controller_name #}! ✅</h1>

        Your number is {{ number }}<br/>

        <p>This friendly message is coming from:</p>
        <ul>
            <li>Your controller at <code><a href="{{ 'src/Controller/LuckyController.php'|file_link(0) }}">src/Controller/LuckyController.php</a></code>
            </li>
            <li>Your template at <code><a href="{{ 'templates/lucky/index.html.twig'|file_link(0) }}">templates/lucky/index.html.twig</a></code>
            </li>
        </ul>

        <p>You can go to other urls:</p>

        <ul>
            <li><a href="{{ url('product_index') }}" target="_blank">Products</a></li>
            {#<li><a href="{{ url('new_test') }}" target="_blank">Test Controller</a></li>#}
        </ul>
    </div>
{% endblock %}
